<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="module2.Topic1"/>
      <class name="module2.Topic2"/>
      <class name="module2.Topic3"/>
      <class name="module2.Topic4"/>
    </classes>
  </test> <!-- Test -->
<test thread-count="5" name="Test">
    <classes>
      <class name="module2.Topic1"/>
    <!--  <class name="module2.Topic2"/>	-->
    <!--  <class name="module2.Topic3"/>	-->
      <class name="module2.Topic4"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
